body {
    font-family: 'Pretendard', sans-serif;
    background: #f8f9fc;
    padding: 30px;
}

h1 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
}

